@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f6f6f6;
    color: #0f1f1c;
}
button{
    border: none;
}

.none{
    display: none !important;
}

.container{
    max-width: var(--container-width) ;
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.container-right{
    padding-left: calc((100% - var(--container-width))/2 + var(--container-padding) );
}


/* header start-------------------------------------------------------------------------------- */

.header{
    position: relative;
    padding-top: 44px;
    min-height: 940px;
    color: #fff;
    overflow: hidden;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
}

.header::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-image: url(../img/headerbottom.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__top {
    margin-bottom: 86px;
}

.header__row{
    display: flex;
    
}
.header__img{
    position: relative;
    flex-grow: 1;
}

.header__img img{
    top: -181px;
    right: -87px;
    position: absolute;
    max-width: unset;
    width: 894px;
    height: 940px;

}

.header__content {
    position: relative;
    z-index: 1;
    max-width: 592px;
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}

.nav__list a{
    position: relative;
    
}
.nav__list a.active::after,
 .nav__list a:hover::after{
    left: 0;
    right: 10px;
    bottom: -6px;
    content: '';
    display: block;
    position: absolute;
    
    height: 4px;
    background-color: #C4C4C4;
    border-radius: 100px;
    
}



.nav__login {
    display: flex;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
}

.btn{
    font-size: 15px;
    font-weight: 500;
    padding: 13px 44px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    
}

.btn:hover{
    color:rgb(102, 102, 50) ;
    transition: all 0.3s;
}

.btn:active{
    position: relative;
    top: 3px;
}




.logo{
    font-size: 20px;
    color: #fff;
    font-weight: 700;

}




.header__content {
   
}
.header__bage {
    margin-bottom: 7px;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 12px 30px;

}
.header__title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 55px;
    line-height: 82px;
}
.header__text {
    margin-bottom: 68px;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    opacity: 0.5

}
.header__btn {
    font-weight: 600;
    font-size: 25px;
    
    padding: 27px 48px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
}

.header__btn:hover{
    color:rgb(102, 102, 50) ;
    transition: all 0.3s;
}

.header__btn:active{
    position: relative;
    top: 3px;
}

/* header end---------------------------------------------------------------------------------- */



/* destinations start---------------------------------------------------------------- */

.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
}

.desti__row {
    display: flex;
    column-gap: 50px;
    
}
.desti__content {
    max-width: 456px;
}
.desti__slider {
    width: 1110px;
    flex-shrink: 0;
}



.desti__title {
    font-weight: 600;
    font-size: 55px;
    margin-bottom: 15px;
}

.desti__title span{
    font-size: 30px;
}

.desti__text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);

}

.btn {
    font-weight: 600;
    font-size: 20px;
    
    padding: 25px 45px;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px;
}

.btn:hover{
    color:rgb(102, 102, 50) ;
    transition: all  0.3s;
}

.btn:active{
    position: relative;
    top: 3px;
}



.slider {
    position: relative;
    height: 456px;

}

.slider__item {
    margin-top: 27px;
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
    transition: 0.3s ease-in;
}

.slider .center .slider__item{
    margin-top: 0;
    width: 380px;
    height: 456px;
}

.slider__btn{

    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    
    align-items: center;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;

}

.slider__btn--prev{
    position: absolute;
    left: -27px;
    top: 50%;
    transform: translateY(-50%);

    padding-left: 26px;
    justify-content: flex-start;
    z-index: 2;
}

.slider__btn--next{
    padding-right: 26px;
    justify-content: flex-end;

    position: absolute;
    right: -27px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}








/* destinations end---------------------------------------------------------------- */